@model IEnumerable<TrackaryASP.Models.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="well col-md-4 col-md-push-8">
        <h2>Cart</h2>
        <ul>
            @*@foreach (var item in (Session["CartData"] as CartSessionData).Products)
            {
                <li>
                    @Html.DisplayFor(item.Price)
                </li>
            }*@
        </ul>

        <div class="pull-right">
            <a href="@Url.Action("Clear", "Cart")" class="btn btn-default">Clear</a>
            <a href="@Url.Action("Checkout", "Cart")" class="btn btn-primary">Checkout</a>
        </div>
    </div>

    <div class="col-md-8 col-md-pull-4">
        <h2>Products</h2>

        <div class="fab-container">
            <a href="@Url.Action("Create")" class="btn btn-primary btn-fab btn-raised mdi-content-add"></a>

            <ul>
                @foreach (var item in Model)
                {
                    <li class="product-item panel panel-default">
                        <div class="panel-body">
                            <div class="panel-heading">
                                @if (item.Image != null)
                                {
                                    <img src="~/Images/@Url.Content(item.Image)" alt="Product image" />
                                }
                            </div>
                            <h2>
                                @Html.ActionLink(item.Name, "Details", new { id = item.ID })
                            </h2>
                            <h3>
                                @Html.DisplayFor(modelItem => item.Price)
                            </h3>
                            <p>
                                @Html.DisplayFor(modelItem => item.Description)
                            </p>
                            <p>
                                @if (item.InStock)
                                {
                                    @Html.Raw("Quantity: ")
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                }
                                else
                                {
                                    @Html.Raw("Out of stock")
                                }
                            </p>
                        </div>
                        <div class="panel-footer">
                            @using (Html.BeginForm("AddItem", "Cart", new { ID = item.ID }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <input type="submit" value="Add to cart" class="btn btn-default" />
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>